.projects {
  width: 346px;
  height: 440px;
  border: none;
  box-shadow: 0px 0px 10px;
  border-radius: 20px;
  margin: 20px 20px;
  background-color: white;
}

.project-img-wrapper {
  width: 420px;
  height: 230px;
  object-fit: cover;
  padding: 0;
}

.project-img-wrapper img {
  width: 82.5%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 3px solid #7c5894;
}

.project-name {
  color: rgb(70, 66, 66);
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-top: 25px;
}

.company-name {
  color: rgb(70, 66, 66);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.project-details {
  display: flex;
  justify-content: center;
  margin: 0 0;
}

.btn {
  padding: 10px 25px;
  margin-top: 25px;
  border-radius: 20px;
  background-color: #7c5894;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
