.background {
  display: flex;
  justify-content: center;
  object-fit: cover;
  height: 400px;
}

.image {
  width: 100%;
  object-fit: cover;
}

.projects-collection {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 40px;
  justify-content: center;
}

.projects-collection-heading {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 40px;
  justify-content: center;
}

.offices {
  display: flex;
  justify-content: center;
  margin: 0px 0px 200px;
}

.no-projects,
.offices-heading {
  text-align: center;
  margin: 210px 40px 90px 40px;
  font-size: 45px;
}
