.office {
  margin: 20px 42px;
  border-radius: 200px;
  height: 250px;
  width: 250px;
  padding-bottom: 100px;
  padding-top: 0;
  text-align: center;
}

.office img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  margin: 13px 0px;
  border-radius: 50%;
}

.city {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -12px;
  background-color: none;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
