.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #ded6de;
}

.links-wrapper {
  display: flex;
  flex-direction: row;
}

.links {
  list-style-type: none;
  margin: 10px 10px;
  padding: 10px 10px;
}

.link {
  text-decoration: none;
  margin: 20px 0;
  padding: 10px 10px;
  background-color: #583270;
  border-radius: 12px;
  color: white;
  font-weight: bold;
}

.home {
  display: flex;
  flex-direction: row;
}

.img {
  width: 200px;
}

.heading {
  color: purple;
}
